html, body, p, dl, dt, dd, table, td, th, input, img, form, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, select, input {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html{
    width:100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

body {
    width:100%;
    height: 100%;
    background: #ffffff;
    font-family: "Microsoft Yahei";
    font-size: 0.28rem;
}

.content{
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.content img{
	width:7.5rem;
    display: block;
}
.content .hide{
	display: none;
}